body {
    background-color: #F2D9BB;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

header { 
    text-align: center;
    background-image: linear-gradient(to right, #F29422, #F27127);
    padding: 20px;
    text-align: center;
    margin: auto;
}
header h1 {
    text-shadow: 2px 1px 3px black;
    text-align: center;
}

nav {
    
    border-radius: 10px;
    background-color: #F2D9BB;
    text-align: center;
    box-shadow: 3px 3px 3px #F29422;
}
nav a {
    
    margin: 10px;
    text-decoration: none;
    border-radius: 5px 5px;
}
nav a:hover {
    text-decoration: underline;
    background-color: #ce862ecc;
}
section a {
    text-decoration: none
    ;
}
section h2 {
    color:#014040;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

main {
     background-color: white;
padding: 10px;
margin: 12px;
border-radius: 10px 10px 10px;
box-shadow: 1px 2px 4px #F29422;
}
.Agende {
    text-align: justify;
}
 header img {
    width: 80px;
    float: left;
    margin-top: 15px;
    margin-left: 60px;
 }
 main img {
    font-size: 200px;
    width: 230px;
    
 }
 main
  

 h2 {
    text-align: center;
    color:#014040;
    text-align: center;
    text-shadow: 1px 1px 2px black;
 }

 footer {
    background-color: #F27127;
    text-align: center;
    
 }

 main img {
    width: 600px;
    padding: 30px;
    margin-left: 25%;
    margin-right: 50%;
 }

 .Dapuma {
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 20px;
 } 

 ul img {

margin: auto;
    width: 200px;
    margin-bottom: 0px;
 }