body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("imagens/fundo.jpeg");
    background-repeat: no-repeat;
    height: 98vh;
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

header { 
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to right, red, yellow);
    padding: 20px;
    text-align: center;
}
header h1 {
    text-shadow: 2px 1px 3px black;
}

nav {
    border-radius: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 3px 3px 3px black;
}
nav a {
    
    margin: 8px;
    text-decoration: none;
    border-radius: 5px 5px;
}
nav a:hover {
    text-decoration: underline;
    background-color: rgb(49, 7, 23);
}
section a {
    text-decoration: none
    ;
}
section h2 {
    color: blanchedalmond;
    text-align: center;
    text-shadow: 10px 5px 5px black;
}